<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>troll-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{106,100}</string>
                <key>spriteSourceSize</key>
                <string>{256,250}</string>
                <key>textureRect</key>
                <string>{{1,755},{106,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>troll-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,1}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{256,250}</string>
                <key>textureRect</key>
                <string>{{109,783},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>troll-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{140,106}</string>
                <key>spriteSourceSize</key>
                <string>{256,250}</string>
                <key>textureRect</key>
                <string>{{149,237},{140,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>troll-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,4}</string>
                <key>spriteSize</key>
                <string>{140,106}</string>
                <key>spriteSourceSize</key>
                <string>{256,250}</string>
                <key>textureRect</key>
                <string>{{1,317},{140,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>troll-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,6}</string>
                <key>spriteSize</key>
                <string>{132,116}</string>
                <key>spriteSourceSize</key>
                <string>{256,250}</string>
                <key>textureRect</key>
                <string>{{1,529},{132,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>troll-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,24}</string>
                <key>spriteSize</key>
                <string>{102,152}</string>
                <key>spriteSourceSize</key>
                <string>{256,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{102,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>troll-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,7}</string>
                <key>spriteSize</key>
                <string>{148,120}</string>
                <key>spriteSourceSize</key>
                <string>{256,250}</string>
                <key>textureRect</key>
                <string>{{1,105},{148,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>troll-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-9}</string>
                <key>spriteSize</key>
                <string>{146,88}</string>
                <key>spriteSourceSize</key>
                <string>{256,250}</string>
                <key>textureRect</key>
                <string>{{1,227},{146,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>troll-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,2}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{256,250}</string>
                <key>textureRect</key>
                <string>{{151,129},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>troll-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,3}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{256,250}</string>
                <key>textureRect</key>
                <string>{{143,379},{106,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>troll-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,4}</string>
                <key>spriteSize</key>
                <string>{128,106}</string>
                <key>spriteSourceSize</key>
                <string>{256,250}</string>
                <key>textureRect</key>
                <string>{{1,647},{128,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>troll-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{126,100}</string>
                <key>spriteSourceSize</key>
                <string>{256,250}</string>
                <key>textureRect</key>
                <string>{{155,1},{126,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>troll-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,3}</string>
                <key>spriteSize</key>
                <string>{114,96}</string>
                <key>spriteSourceSize</key>
                <string>{256,250}</string>
                <key>textureRect</key>
                <string>{{141,487},{114,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>troll-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,7}</string>
                <key>spriteSize</key>
                <string>{120,96}</string>
                <key>spriteSourceSize</key>
                <string>{256,250}</string>
                <key>textureRect</key>
                <string>{{135,585},{120,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>troll-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,8}</string>
                <key>spriteSize</key>
                <string>{122,98}</string>
                <key>spriteSourceSize</key>
                <string>{256,250}</string>
                <key>textureRect</key>
                <string>{{131,683},{122,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>troll-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,3}</string>
                <key>spriteSize</key>
                <string>{138,102}</string>
                <key>spriteSourceSize</key>
                <string>{256,250}</string>
                <key>textureRect</key>
                <string>{{1,425},{138,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>master.png</string>
            <key>size</key>
            <string>{256,888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c51018228eb4d51299c1fafb99b9983:37b57da1a4337cc1f9b852faf8829d25:552dd7f595df33b2cd73a42f9fda294b$</string>
            <key>textureFileName</key>
            <string>master.png</string>
        </dict>
    </dict>
</plist>
